[Unit]
Description = LinuxPTP master
Wants       = network.target
After       = network.target

[Service]
Type             = simple
WorkingDirectory = /opt/ptp4l/
ExecStart        = /usr/local/sbin/ptp4l -i eth0 -f master.cfg
Restart          = on-failure
StandardOutput   = syslog
StandardError    = syslog
PIDFile          = /run/ptp4l-master.pid

[Install]
WantedBy = multi-user.target