[Unit]
Description = LinuxPTP slave
Wants       = network.target
After       = network.target

[Service]
Type             = simple
WorkingDirectory = /opt/ptp4l/
ExecStart        = /usr/bin/python3 ptp4l-slave-metrics-server.py --port 8080 --log /var/log/ptp4l.log 
Restart          = on-failure
StandardOutput   = syslog
StandardError    = syslog
PIDFile          = /run/ptp4l-slave.pid

[Install]
WantedBy = multi-user.target